---
permalink: feed/all.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>Portfolios4me!</title>
	<subtitle>My favorite developer portfolios</subtitle>
	<link href="https://portfolios4me.vercel.app/feed/all.xml" rel="self"/>
	<link href="https://portfolios4me.vercel.app/"/>
	<updated>{{ collections.sites | rssLastUpdatedDate }}</updated>
	<id>https://portfolios4me.vercel.app</id>
	<author>
		<name>Alec Campbell</name>
		<email>freeunioncoder@gmail.com</email>
	</author>
	{%- for post in collections.sites %}
        {% if not post.data.external %}
            <entry>
                <title>{{ post.data.title }}</title>
                <link href="{{ post.data.url }}"/>
                <updated>{{ post.date | rssDate }}</updated>
                <id>{{ absolutePostUrl }}</id>
                <content type="html"><![CDATA[
                    <h3>{{ post.data.title }}</h3>
                    <dl>
                        <dt><b>Has RSS Feed?</b></dt>
                        <dd>{{ 'Yes' if post.data.rss else 'No' }}</dd>
                        <dt><b>Tags</b></dt>
                        {% for tag in post.data.tags %}
                            {% if tag !== 'sites' %}
                                <dd>{{ tag }}</dd>
                            {% endif %}
                        {% endfor %}
                    </dl>
                    <p><a href="{{ post.data.url }}" rel="external">Visit site</a></p>
             ]]></content>
            </entry>
        {% endif %}
	{%- endfor %}
</feed>
